*{
    color: rgb(224, 226, 228);
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.reg
{
    display: flex;
    justify-content: center;
    backdrop-filter:  blur(15px);
    height: 70vh;
    width:60%
}
td{
    padding: 10px;
}
.det1{
    margin-top: 5%;
    padding:0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    float:left;
    height: 80%;
    width:40%;
    border-radius: 6px;
    border: 1px solid rgb(128, 190, 248);
}
.det1 h1{
    transform: translateY(0px);
}

.det2{
    width:50%;
    float:right;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height:100%;
}
textarea{
    border-radius: 6px;
    color:rgb(243, 227, 139);
    background-color: transparent;
    outline:1px solid aqua;
    margin: 0px 30px;
}
button{
    font-size:13px ;
    transform: translateY(-10px);
    border: 1px solid rgba(86, 247, 247, 0.747);
    background-color: rgb(23, 107, 156);
    min-width: 40px;
    min-height:25px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
    padding: 10px 20px;
}
input{
    border: 1px solid aqua;
    outline: none;
    color:rgb(255, 255, 255);
    background: transparent;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
}
input[type="reset"],input[type="submit"]{
    border:2px solid rgb(37, 107, 112);
    background-color: rgb(23, 107, 156);
    border-radius: 4px;
    cursor: pointer; 
    min-width: 40px;
    padding: 10px 20px;
    line-height: 10px;
    min-height:25px;
    color: rgb(255, 255, 255);
    transform: translateX(60px);
}
fieldset{
    border-radius: 6px;
}